/**
 * @name clearvision
 * @author ClearVision Team
 * @version 6.9.0
 * @description Highly customizable and beautiful theme for BetterDiscord.
 * @source https://github.com/ClearVision/ClearVision-v6
 * @website https://clearvision.github.io
 * @invite dHaSxn3
 * @BDEditor Clear Vision
*/

@import url('https://clearvision.github.io/ClearVision-v6/main.css');

:root {
  --main-color: #F24A83;
  --hover-color: #E80099;
  --success-color: #43b581;
  --danger-color: #982929;
  --url-color: var(--main-color);
  --background-shading: 100%;
  --background-position: center;
  --background-size: cover;
  --background-repeat: no-repeat;
  --background-attachment: fixed;
  --background-brightness: 100%;
  --background-contrast: 100%;
  --background-saturation: 100%;
  --background-grayscale: 0%;
  --background-invert: 0%;
  --background-blur: 0px;
  --background-overlay: rgba(0,0,0,0.6);
  --user-popout-image: url('https://clearvision.github.io/images/sapphire.jpg');
  --user-popout-position: center;
  --user-popout-size: cover;
  --user-popout-repeat: no-repeat;
  --user-popout-attachment: fixed;
  --user-popout-brightness: 100%;
  --user-popout-contrast: 100%;
  --user-popout-saturation: 100%;
  --user-popout-grayscale: 0%;
  --user-popout-invert: 0%;
  --user-popout-blur: 3px;
  --user-modal-image: url('https://clearvision.github.io/images/sapphire.jpg');
  --user-modal-position: center;
  --user-modal-size: cover;
  --user-modal-repeat: no-repeat;
  --user-modal-attachment: fixed;
  --user-modal-brightness: 100%;
  --user-modal-contrast: 100%;
  --user-modal-saturation: 100%;
  --user-modal-grayscale: 0%;
  --user-modal-invert: 0%;
  --user-modal-blur: 3px;
  --home-icon: url('https://clearvision.github.io/icons/discord.svg');
  --home-position: center;
  --home-size: 40px;
  --channel-unread: var(--main-color);
  --channel-color: rgba(255,255,255,0.3);
  --muted-color: rgba(255,255,255,0.1);
  --online-color: #43b581;
  --idle-color: #faa61a;
  --dnd-color: #982929;
  --streaming-color: #593695;
  --offline-color: #808080;
  --main-font: gg sans;
  --code-font: Consolas;
  --channels-width: 220px;
  --members-width: 240px;
  --backdrop-overlay: rgba(0,0,0,0.8);
  --backdrop-image: var(--background-image);
  --backdrop-position: var(--background-position);
  --backdrop-size: var(--background-size);
  --backdrop-repeat: var(--background-repeat);
  --backdrop-attachment: var(--background-attachment);
  --backdrop-brightness: var(--background-brightness);
  --backdrop-contrast: var(--background-contrast);
  --backdrop-saturation: var(--background-saturation);
  --backdrop-invert: var(--background-invert);
  --backdrop-grayscale: var(--background-grayscale);
  --backdrop-sepia: var(--background-sepia);
  --backdrop-blur: var(--background-blur);
  --bd-blue: var(--main-color);
  --bd-blue-hover: var(--hover-color);
  --bd-blue-active: var(--hover-color);
}

/* Any custom CSS below here */


@import url("https://maendisease.github.io/BetterDiscordStuff/css/bearableInbox.css");

/*i'm new here, say hi!*/
[class*=newMemberBadge]:before {
    content: url(https://cdn.discordapp.com/emojis/1024751291504791654.gif?size=64&quality=lossless);
    transform: translate(-100%, -110%);
    display: inline-block;
    scale: 0.32;
}

/* Fix platform indicator size */
.headerText-2z4IhQ>div>svg {
    height: 16px;
    width: 16px;
    overflow-y: hidden;
}

/* Reduced enhanced markdown margins */
[class^=message] [id^=message-content] :is(h1, h2, h3, li) {
    margin: 0px;
}

[class^=message] [id^=message-content] :is(ol, ul) {
    margin-top: 0px;
}

/* compact embeds */
[id^=message-accessories] [class^=gridContainer]>[class^=grid] {
    padding: 8px;
}

[id^=message-accessories] [class^=gridContainer]>[class^=grid]>* {
    margin-top: 2px;
}

[id^=message-accessories] [class^=gridContainer]>[class^=grid] [class^=message] {
    margin-bottom: 4px;
}

[id^=message-accessories] [class^=gridContainer]>[class^=grid] [class^=message] h3[class*=header] {
    margin-top: 0px;
}

/* Hide the emoji links */
a[href^="https://cdn.discordapp.com/emojis/"] {
    display: none;
}

/* Hide GIFT button */
.buttons-uaqb-5>.button-ejjZWC {
    display: none
}

/* Hide GIF button */
.buttonContainer-2lnNiN:not(.apateE2EButton):not(.send-button)> :not(.emojiButton-3FRTuj):not(.fm-button)> :not(.stickerButton-1-nFh2):not(.apateEncryptionKeyContainer):not(.translateButton-DhP9x8) {
    display: none;
}

/* Hide Stickers button */
.stickerButton-1-nFh2 {
    display: none;
}

/* Colorize Icon */
/* .emojiItemDisabled-3VVnwp {
    filter: none;
} */

/* Emote Fix */
img.emote {
    text-indent: 0;
    white-space: nowrap;
    width: auto;
    position: relative;
    top: 0.25ex;
}

/* Fix Discord's Embeds for YouTube/Twitch VIdeos */
.embedVideoImageComponent-3Clc3C {
    justify-content: unset;
    align-items: unset;
}

/* Username Background(Fixes New Badge Issue) */
/* .headerText-2z4IhQ>[role*="button"]:not(.username-h_Y3Us)::before {
    content: '';
    width: calc(18px + 7px);
    background-color: currentColor;
    opacity: 0.3;
    margin-left: 2px;
} */

/* Username Background */
/* .headerText-2z4IhQ>span::before {
    content: '';
    width: calc(100% + 7px);
    height: 100%;
    border-radius: 5px;
    background-color: currentColor;
    opacity: 0.3;
    position: absolute;
    margin-top: 0px;
    z-index: -1;
    margin-left: -3px;
}

.headerText-2z4IhQ>span {
    margin-left: 3px;
} */

/* repairs left shift */
.cozy-3raOZG .headerText-3Uvj1Y>.username-1A8OIy {
    margin-left: 3px;
}

/* fix the file icon shrinking with long file names */
.audioMetadata-3zOuGv::before {
    min-width: 24px;
}

/* Fix the channel icon being oversized in embeds and channel topics */
.topic-TCb_qw>.wrapper-3WhCwL>.channelIcon-1MN1lz,
.embedFooterText-28V_Wb>.wrapper-3WhCwL>.channelIcon-1MN1lz {
    width: calc(1.05rem * 1.05 / 1.3);
    height: 1.05rem;
}

/* Compact Blocked Messages */
.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs)>.wrapper-30-Nkg {
    padding: 0 0 0 16px
}

.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs)>.wrapper-30-Nkg.compact-2Nkcau {
    padding: 0 0 0 108px
}

.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs) {
    margin: 0
}

.scrollerInner-2PPAp2>.groupStart-3Mlgv1.expanded-3lghlw:not(.backgroundFlash-1X5jVs) {
    background-color: var(--info-danger-background)
}

.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs) .messageListItem-ZZ7v6g .groupStart-3Mlgv1,
.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs, .expanded-3lghlw)+.messageListItem-ZZ7v6g .groupStart-3Mlgv1 {
    margin-top: 0
}

.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs) .messageListItem-ZZ7v6g {
    opacity: .5
}

.blockedSystemMessage-3FmE9n .iconContainer-2rPbqG {
    display: none
}

.blockedMessageText-3Zeg3y {
    position: relative;
    font-size: 12px;
    line-height: 16px;
    color: var(--interactive-muted)
}

.blockedMessageText-3Zeg3y:hover {
    text-decoration: underline
}

.blockedMessageText-3Zeg3y:hover,
.groupStart-3Mlgv1.expanded-3lghlw .blockedMessageText-3Zeg3y {
    color: var(--info-danger-foreground)
}

.blockedAction-2cPk2G {
    position: absolute;
    inset: 0;
    width: 100%;
    opacity: 0
}

.blockedMessageText-3Zeg3y:after {
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 14px;
    pointer-events: none;
    background-color: currentColor;
    -webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 24" fill="currentColor"><path fill-rule="evenodd" clip-rule="evenodd" d="M15 3.999V2H9V3.999H3V5.999H21V3.999H15Z M5 6.99902V18.999C5 20.101 5.897 20.999 7 20.999H17C18.103 20.999 19 20.101 19 18.999V6.99902H5ZM11 17H9V11H11V17ZM15 17H13V11H15V17Z" ></path></svg>') center/contain no-repeat
}

.container-1NXEtd .content-2a4AW9>div[style="height: 16px;"]:nth-child(2) {
    display: none;
}

/* Compact channels catégories */

:root {
    --category-spacing: 2px;
    --channel-spacing: 4px;
}

.containerDefault-3TQ5YN,
.containerDragAfter-1J_-1V,
.containerDragBefore-ei4h1m,
.containerUserOver-3woq86 {
    padding-top: var(--category-spacing);
}

.mainContent-20q_Hp {
    padding: var(--channel-spacing);
}

/* Replace Tada Icon when the Server Has Unlocked All Boosting Perks with one from Twemoji. */
.tadaIcon-313rPm {
    color: transparent;
    background-image: url("https://abs.twimg.com/emoji/v2/svg/1f389.svg");
    height: 16px;
    width: 16px;
    position: relative;
    bottom: 8px;
    left: 200px;
}

/* simplify right click */
#message-tts,
#message-add-reaction-1,
#message-mark-unread,
.wrapper--nA0oy {
    display: none;
}

/* Local Avatar */
/* [src^="https://cdn.discordapp.com/avatars/738748102311280681/"] {
  content: url(https://media.discordapp.net/attachments/953841823338618900/1087471163820740709/a_7f6e1adfd31bf02360c07181907f2ea2.gif);
} */
/* Local Avatar For Beast */
/* [src^="https://cdn.discordapp.com/avatars/141555126337798144/"] {
    content: url(https://avatars.githubusercontent.com/u/40509985);
} */

/* Change Clyde Avatar */
[src*="/assets/cb1043c312ec65507573c06c37f6ee63.gif"],
[src*="/assets/6024f311af925206143919b880e34a30.png"] {
    content: url(https://cdn.discordapp.com/attachments/979430971659128932/1098500064621625425/avatar_discord.gif) !important;
}

[src^="/assets/3e30cd914362f27e07b3b4634c7600be.png"] {
    content: url(https://cdn.discordapp.com/attachments/953841823338618900/1098517219014611005/banner_discord.gif);
}

[src*="/assets/3e30cd914362f27e07b3b4634c7600be.png"] {
    content: url(https://cdn.discordapp.com/attachments/953841823338618900/1098517219014611005/banner_discord.gif);
}

:is([class*=contents-], [class*=memberInner]):has([src*="1081004946872352958"]) [class*=username] {
    color: rgb(235, 148, 249) !important;
}

:is([class*=contents-]):has([src*="1081004946872352958"]) [class*=username] {
    content: "Mihari" !important;
}

.emoji[alt="❌"] {
    content: url("https://raw.githubusercontent.com/MiyagawaMizu/random-files/main/nashi.svg");
}

.emoji[alt="⭕"] {
    content: url("https://raw.githubusercontent.com/MiyagawaMizu/random-files/main/ari.svg");
}

/* Removes every unnecesary things from the user popout */
[class*=accountProfilePopoutWrapper-]>div>div>[class*=bannerSVGWrapper-],
[class*=accountProfilePopoutWrapper-]>div>div>[class*=avatarWrapper-],
[class*=accountProfilePopoutWrapper-]>div>div>[class*=profileBadges-],
[class*=accountProfilePopoutWrapper-]>div>div>[class*=userPopoutOverlayBackground-]>[class*=divider-],
[class*=accountProfilePopoutWrapper-]>div>div>[class*=userPopoutOverlayBackground-]>[class*=section-],
[class*=accountProfilePopoutWrapper-]>div>div>[class*=userPopoutOverlayBackground-]>[class*=scroller-] {
    display: none;
}

/* [class*=accountProfilePopoutWrapper-] > div > div > [class*=userPopoutOverlayBackground-] > div:nth-child(1),
[class*=accountProfilePopoutWrapper-] > div > div > [class*=userPopoutOverlayBackground-] > div:nth-child(2),
[class*=accountProfilePopoutWrapper-] > div > div > [class*=userPopoutOverlayBackground-] > div:nth-child(3),
[class*=divider-], [class*=separator-]
{
  display: none;
} */

a[href="https://support.discord.com"],
/* help button */
.recentsIcon-F3eO1o,
/* inbox button */
.nowPlayingColumn-1eCBCN,
/* active now sidebar */
.newChannel-3q3LPr,
/* the "NEW" text thats next to channels */
div[aria-label*="Show User Profile"],
/* user profile button */
button[aria-label="Send a gift"]

/* send gift button */
    {
    display: none;
}

/* member list thingy */
@media only screen and (max-width: 1080px) {
    [class*="membersWrap"] {
        position: absolute;
        opacity: 75%;
        right: -180px;
        transition: all 300ms cubic-bezier(0.22, 1, 0.36, 1);
        z-index: 1;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    [class*="membersWrap"]>[class*="members-"] {
        border-radius: 0 0 0 8px;
    }

    [class*="membersWrap"]:hover>[class*="members-"] {
        border-radius: 0 0 0 8px;
    }

    [class*="membersWrap"]:hover {
        opacity: 100%;
        right: 0;
        z-index: 2;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 1px solid var(--background-modifier-accent);
        border-width: 0 0 2px 2px;
        border-radius: 0 0 0 8px;
    }

    main form {
        z-index: 2;
        width: calc(100% - 9vw);
    }
}

/* @s before pomelo usernames */
:is([class*=userTagWithNickname], [class*=nameTagSmall]) span:only-child:before {
    content: '@';
}



/* VC fix */

/* VC container */
body:has(.container-1zzFcN) #vc-spotify-player::before {
    margin-top: -128px;
}

.container-1zzFcN {
    margin-bottom: 0px;
}

body:has(.vc-spotify-play) .container-1zzFcN {
    background-color: hsla(var(--spotify-vencord-text)/1);
}

body:has(.vc-spotify-pause) .container-1zzFcN {
    background-color: hsla(var(--spotify-vencord-color)/1);
}

/* Connection buttons */
body:has(.vc-spotify-play) #app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div.base-2jDfDU>div>div.sidebar-1tnWFu>section>div.wrapper-3Hk9OB>div>div.flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyStart-2Mwniq.alignCenter-14kD11.noWrap-hBpHBz.connection-3k9QeF>div.flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyStart-2Mwniq.alignStretch-Uwowzr.noWrap-hBpHBz>button>div>svg {
    color: hsla(var(--spotify-vencord-color)/1);
}

body:has(.vc-spotify-pause) #app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div.base-2jDfDU>div>div.sidebar-1tnWFu>section>div.wrapper-3Hk9OB>div>div.flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyStart-2Mwniq.alignCenter-14kD11.noWrap-hBpHBz.connection-3k9QeF>div.flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyStart-2Mwniq.alignStretch-Uwowzr.noWrap-hBpHBz>button>div>svg {
    color: hsla(var(--spotify-vencord-text)/1);
}

/* Video share, soundboard */
body:has(.vc-spotify-play) .panels-3wFtMD .lookFilled-1H2Jvj.colorBrand-2M3O3N {
    background-color: hsla(var(--spotify-vencord-text)/0.25);
    color: hsla(var(--spotify-vencord-color)/1);
}

body:has(.vc-spotify-play) .panels-3wFtMD .lookFilled-1H2Jvj.colorBrand-2M3O3N:hover,
body:has(.vc-spotify-play) .button-12Fmur:hover {
    background-color: hsla(var(--spotify-vencord-color)/0.25);
}

body:has(.vc-spotify-pause) .panels-3wFtMD .lookFilled-1H2Jvj.colorBrand-2M3O3N:hover,
body:has(.vc-spotify-pause) .button-12Fmur:hover {
    background-color: hsla(var(--spotify-vencord-text)/0.25);
}

body:has(.vc-spotify-pause) .panels-3wFtMD .lookFilled-1H2Jvj.colorBrand-2M3O3N {
    background-color: transparent;
}

body:has(.vc-spotify-play) .panels-3wFtMD .buttonIcon-2Zsrs2 {
    color: hsla(var(--spotify-vencord-color)/1);
}

body:has(.vc-spotify-pause) .panels-3wFtMD .buttonIcon-2Zsrs2 {
    color: hsla(var(--spotify-vencord-text)/1);
}

/* VC text */
body:has(.vc-spotify-play) #app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div>section>div.wrapper-3Hk9OB>div>div.flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyStart-2Mwniq.alignCenter-14kD11.noWrap-hBpHBz.connection-3k9QeF>div.inner-llGtyq>div>a>div {
    color: hsla(var(--spotify-vencord-color)/1);
    font-weight: 600;
}

body:has(.vc-spotify-pause) #app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div>section>div.wrapper-3Hk9OB>div>div.flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyStart-2Mwniq.alignCenter-14kD11.noWrap-hBpHBz.connection-3k9QeF>div.inner-llGtyq>div>a>div {
    color: hsla(var(--spotify-vencord-text)/1);
    font-weight: 600;
}

.sidebar-1tnWFu:has(#vc-spotify-player) ul[aria-label="Channels"]>li:last-child {
    padding-bottom: 50px !important;
}

div#channels {
    padding-bottom: 20px;
}

/* Screenshare fix */

body:has([class*=panels-] [class*=activityPanel-]) #vc-spotify-player::before {
    margin-top: -176px;
}

body:has(.vc-spotify-pause) [class*=panels-] [class*=activityPanel-] {
    background-color: hsla(var(--spotify-vencord-color)/1) !important;
}

body:has(.vc-spotify-play) [class*=panels-] [class*=activityPanel-] {
    background-color: hsla(var(--spotify-vencord-text)/1) !important;
}

body:has(.vc-spotify-play) .title-338goq,
body:has(.vc-spotify-play) .badge-370Op6,
body:has(.vc-spotify-play) #app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div.base-2jDfDU>div>div.sidebar-1tnWFu>section>div.panel-2ZFCRb.activityPanel-9icbyU>div>div.actions-zk2vB_>div>button>div>svg {
    color: hsla(var(--spotify-vencord-color)/1);
    font-weight: 700;
}

body:has(.vc-spotify-pause) .title-338goq,
body:has(.vc-spotify-pause) .badge-370Op6,
body:has(.vc-spotify-pause) #app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div.base-2jDfDU>div>div.sidebar-1tnWFu>section>div.panel-2ZFCRb.activityPanel-9icbyU>div>div.actions-zk2vB_>div>button>div>svg {
    color: hsla(var(--spotify-vencord-text)/1);
    font-weight: 700;
}

/* end of VC fix */
}
